// Place all the styles related to the admins/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.today_order{
  font-size: 30px;
  margin-top: 10vh; margin-bottom: 20vh;
}
.today_order_count{
  font-size: 30px;
  margin-left:20px;
}