// Place all the styles related to the clients/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payment-label{
  width:200px;
}
.radio{
  padding-bottom: 20px;
}
.address-label{
  margin-right: 130px;
  
}
.postal-code-label{
  margin-right: 10px;
}