// Place all the styles related to the clients/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-visual {
	background-image: url(amber-faust-difFvlZVYTI-unsplash.jpeg);
}
.detail {
	float: left;
}
.detail span {
	font-size: 10px;
}
.product-box {
	float: left;
}
.column {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image {
	float: left;
}
.main-visual {
	background-image: url("amber-faust-difFvlZVYTI-unsplash.jpeg");
	background-size: cover;
  background-position: center;
}
// ここから飯田追加
.genre_search_table{
	text-align: center;
	color:#B72025;
}
.genre_search_list{
	list-style-type: none;
}
.genre_search_name{
	color:#B72025;
	&:hover{
		color:#B72025;
		text-decoration: none;
	}
}
.genre_search_head{
	text-align: center;
	font-size: 2rem;
	color:#B72025;
	background-color: rgb(245, 245, 159);
}
.table-body{
	&:hover{
		background-color: #eee;
	}
}

