// Place all the styles related to the clients/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jenre li {
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 10px;
	padding-bottom: 10px;
	list-style: none;
}
.main-visual {
	background-image: url(amber-faust-difFvlZVYTI-unsplash.jpeg);
}