// Place all the styles related to the clients/shipping_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.address-label{
  margin-right: 130px;
}
.postal-code-label{
  margin-right: 10px;
}
// 下記飯田追加、変更
.submit{
  margin-left: 80%;
  width: 200px;
}
.address-table{
  margin-top: 30px;
}
// ここまで
