/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD:app/assets/stylesheets/application.scss
 @import "bootstrap-sprockets";
 @import "bootstrap";

 
=======
 @import "bootstrap-sprockets"; 
 @import "bootstrap";     
 /* 全体 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color:#666;
   font-family: "Nunito","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
 }
 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }
 .main-container {
   margin-top: 50px;
   padding-top: 30px;
   /* background-color: aqua; */
 }
 /* ヘッダー */
 header{
   background-color: #95D8C1;
 }
 .header-logo{
   font-weight: bold;
 }
 .nav-item{
   color:#666;
 }
 @media (max-width: 767px) {
   .header-logo{
     display:block;
     width: 100%;
   }
 }
>>>>>>> develop:app/assets/stylesheets/application.css
