/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets"; 
 @import "bootstrap";     

 /* 全体 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color:#666;
   font-family: "Nunito","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
 }
 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }
 .main-container {
   margin-top: 100px;
   padding-top: 30px;
 }

 /* ヘッダー */
 header{
   background-color: #95D8C1;
 }
 .header-logo{
   font-weight: bold;
   font-size:40px;
   padding-top: 30px;
 }
 .nav-item,.admin-nav-item{
   color:#666;
   font-size:15px;
   height:70px;
 }
 .navbar-nav li a{
  line-height: 40px;
 }
 .client-name{
  display:inline-block;
  font-size: 20px;
  padding-top:20px;
  padding-left:30%;
  width:350px;
 }
 @media (max-width: 767px) {
  .main-container {
    margin-top: 250px;
  }
  .nav-item{
     height:40px;
   }
   .header-logo{
     display:block;
     width: 100%;
   }
   .client-name{
   padding-left:30px;
  }
  .adjust{
    display:inline-block;
  }
 }
//  管理者
.admin-header{
height:100px;
}
.search-window{
  height:30px;
  width:50%;
  margin-left:auto;
  margin-bottom:20px;
}
@media (max-width: 767px) {
  .admin-header{
   height: 300px;
  }
  .main-container {
    margin-top: 300px;
  }
  .admin-nav-item{
     font-size:15px;
     height:40px;
   }
   .search-window{
    width:100%;
  }
 }
