<div class="row">
      <h2>注文履歴詳細</h2>
      <div style="margin-top: 50px;">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">購入者</th>
              <td>山田花子</td>
            </tr>
            <tr>
              <th scope="row">配送先</th>
              <td>
                <p>1500041 東京都渋谷区神南1-19-11</p>
                <p>山田花子</p>
              </td>
            </tr>
            <tr>
              <th scope="row">支払方法</th>
              <td>銀行振込</td>
            </tr>
            <tr>
              <th scope="row">注文ステータス</th>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <!-- <label class="sr-only" for="InputSelect">選択</label> -->
                    <select class="form-control" id="InputSelect">
                      <option>入金待ち</option>
                      <option>入金確認</option>
                      <option>製作中</option>
                      <option>発送準備中</option>
                      <option>発送済</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">更新</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8"style="margin-top: 50px;">
        <table class="table table-bordered">
          <thead>
            <tr class="table-head" style="background-color:#F5F5F5;">
              <th scope="col">商品名</th>
              <th scope="col">単価（税込）</th>
              <th scope="col">数量</th>
              <th scope="col">小計</th>
              <th scope="col">製作ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>いちごのショートケーキ</td>
              <td>1,100</td>
              <td>1</td>
              <td>1,100</td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <!-- <label class="sr-only" for="InputSelect">選択</label> -->
                    <select class="form-control" id="InputSelect">
                      <option>入金待ち</option>
                      <option>入金確認</option>
                      <option>製作中</option>
                      <option>発送準備中</option>
                      <option>発送済</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">更新</button>
                </form>
              </td>
            </tr>
            <tr>
              <td>チーズタルト</td>
              <td>330</td>
              <td>2</td>
              <td>660</td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <!-- <label class="sr-only" for="InputSelect">選択</label> -->
                    <select class="form-control" id="InputSelect">
                      <option>入金待ち</option>
                      <option>入金確認</option>
                      <option>製作中</option>
                      <option>発送準備中</option>
                      <option>発送済</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">更新</button>
                </form>
              </td>
            </tr>
            <tr>
              <td>プリン</td>
              <td>400</td>
              <td>3</td>
              <td>1200</td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <!-- <label class="sr-only" for="InputSelect">選択</label> -->
                    <select class="form-control" id="InputSelect">
                      <option>入金待ち</option>
                      <option>入金確認</option>
                      <option>製作中</option>
                      <option>発送準備中</option>
                      <option>発送済</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">更新</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-4"style="margin-top: 360px;">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">商品合計</th>
              <td>2960円</td>
            </tr>
            <tr>
              <th scope="row">送料</th>
              <td>800円</td>
            </tr>
            <tr>
              <th scope="row">請求金額合計</th>
              <td>3,760円</td>
            </tr>
          </tbody>
        </table>
      </div>
     </div>
