削除したい
  <body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>

    <%# if flash[:create] %>
      <%# <div class="create"> %>
        <%#= message %>
        <%# <p>You have creatad book successfully.</p>
      </div> %>
    <%# end %>

</body>

